.project-view {
    &__top-nav {
        margin: 0 1rem;
        display: flex;
        flex-direction: row-reverse;

        h1 {
            flex-grow: 1;
        }

        button {
            margin-left: 1rem;
        }
    }

    &__container {
        display: flex;

        &-left,
        &-right {
            width: 50%;
            min-height: 100px;
        }
    }
}
