.project-view {
    &__top-nav {
        margin: 0 1rem;
        display: flex;
        flex-direction: row-reverse;

        h1 {
            flex-grow: 1;
        }

        button {
            margin-left: 1rem;
        }
    }

    &__container {
        display: flex;

        &-left,
        &-right {
            width: 50%;
            min-height: 100px;

            @media (max-width: 810px) {
                width: 100%;
            }
        }

        &-right {
            background-color: rgb(58, 114, 187);
            padding-left: 0.5rem;
        }

        @media (max-width: 810px) {
            display: block;
        }
    }
}
