.project-view {
    &__top-nav {
        margin: 0 1rem;
        display: flex;
        flex-direction: row-reverse;
        height: 90px;

        h1 {
            flex-grow: 1;
        }

        button {
            margin-left: 1rem;
        }

        @media (max-width: 550px) {
            height: 40px;

            h1 {
                font-size: 0.8rem;
            }

            button {
                padding: 2px;
                font-size: 0.7rem;
            }
        }
    }

    &__container {
        display: flex;
        height: calc(100vh - 90px);

        &-left,
        &-right {
            width: 50%;
            min-height: 100px;

            @media (max-width: 810px) {
                width: 100%;
            }
        }

        &-left {
            overflow: hidden;
        }

        &-right {
            overflow-y: scroll;
            background-color: rgb(58, 114, 187);
            padding-left: 0.5rem;
        }

        @media (max-width: 810px) {
            display: block;
        }
    }
}
